html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, 'HarmonyOS Sans SC', BlinkMacSystemFont, Arial, sans-serif;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: normal;
  src: url('@/assets/font/HarmonyOS_Sans_SC.woff2') format('woff2');
  font-display: swap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
